.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs

data/raw/
data/datasets/

output/flash_greedy/
output/flash_backfit/
output/admixture/
output/softImpute/
output/log/
output/sim/

.snakemake/

Makefile
